@{
    ViewData["Title"] = "Serviços";
}

<h1>Serviços</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate rem dolorem, incidunt architecto similique. Aliquam iusto exercitationem, distinctio optio, ducimus odio maxime eaque dolorum ipsam culpa iste laudantium vel nobis odit. Eius molestias aut pariatur, aliquam labore numquam praesentium voluptas saepe voluptatum vitae repudiandae enim impedit consectetur nam animi!
</p>

<ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
</ul>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ut voluptates earum commodi recusandae? Quis deserunt, ipsum consectetur, deleniti voluptate quod delectus perspiciatis aliquid, reprehenderit porro nam cum? Exercitationem, necessitatibus!
</p>