@{
    ViewData["Title"] = "Sobre";
}

<h1>Sobre</h1>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat tenetur iure, nemo facere laudantium sit id adipisci obcaecati nisi at animi ullam in fugit eum veritatis repellendus assumenda sed illo, voluptate odit ipsa odio? Aut, pariatur. Minima, quia, optio totam eius placeat possimus itaque sapiente laudantium repellendus eveniet nam laborum!
<br><br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nihil dolorem totam repudiandae, cum molestiae unde numquam et itaque molestias dicta nesciunt qui eum ad saepe fugiat? Quae, eaque temporibus.
<br><br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nisi ex expedita, error esse, nemo aut harum neque ipsa amet optio tempore eum, temporibus aliquid perspiciatis iure voluptates suscipit sed nam commodi deleniti consequuntur? Qui dolorem eveniet veniam porro rerum cumque dignissimos illum assumenda perspiciatis vitae minus ex est aliquam unde odio eos ipsa, dolor culpa! Quod nisi dolorem sunt maxime omnis sint quas, dolorum, ipsum voluptatibus excepturi ea fugit cupiditate aut eum numquam sed fuga illum eius nesciunt quia sit, vero quos perferendis? Quidem consequuntur reprehenderit illum! Minima voluptatem quo consequatur nostrum odit minus ex doloremque. Ex, perferendis officiis?